  <div class="mr-2 p-4 rounded-md bg-instagram">
    <a href="https://www.instagram.com/a.ana.lago/">
      <img width=23 src="{{ '/assets/img/instagram.svg' | relative_url }}"></a>
  </div>
  <div class="mr-2 p-4 rounded bg-youtube">
    <a href="https://www.youtube.com/channel/UCvjxMoPYFlmngxCheAtzfbg?sub_confirmation=1">
      <img width=23 src="{{ '/assets/img/youtube.svg' | relative_url }}">
    </a>
  </div>
  <div class="p-4 rounded bg-facebook">
    <a href="https://www.facebook.com/a.ana.lago/">
      <img class="fill-texto" width=23 src="{{ '/assets/img/facebook.svg' | relative_url }}"></a>
  </div>